<% if notice.present? || alert.present? %>
  <article style="text-align: center">
    <div style="color: green"><%= notice %></div>
    <div style="color: red"><%= alert %></div>
  </article>
<% end %>
