<% content_for :title, "Editing collection" %>

<h1>Editing collection</h1>

<%= render "form", collection: @collection %>

<br>

<div>
  <%= link_to "Show this collection", admin_collection_path(@collection) %> |
  <%= link_to "Back to collections", admin_collections_path %>
</div>
