<p style="color: green"><%= notice %></p>

<% content_for :title, "Collections" %>

<h1>Collections</h1>

<div id="collections">
  <% @collections.each do |collection| %>
    <%= render 'admin/collections/record', collection: collection %>
    <p>
      <%= link_to "Show this collection", admin_collection_path(collection) %>
    </p>
  <% end %>
</div>

<%= link_to "New collection", new_admin_collection_path %>
