<div id="<%= dom_id card %>">
  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Collection number:</strong>
    <%= card.collection_number %>
  </p>

  <% if card.image.present? %>
    <p>
      <%= image_tag card.image, width: 120 %>
    </p>
  <% end %>

</div>
