<% content_for :title, "Editing card" %>

<h1>Editing card - <%= @card.collection.name %></h1>

<%= render "form", card: @card %>

<br>

<div>
  <%= link_to "Show this card", admin_collection_card_path(@collection, @card) %> |
  <%= link_to "Back to cards", admin_collection_cards_path(@collection) %>
</div>
